{% extends 'layout.html' %}

{% block title %}Add Item{% endblock %}

{% block content %}
<h1 class="fw-bold text-light mb-3"><i class="fa-solid fa-pen-to-square me-2"></i>Add Item</h1>
<form method="POST" action="{{ url_for('add_item') }}" enctype="multipart/form-data">
    <div class="form-group mb-2">
        <label for="name">Name (max 20 characters):</label>
        <input type="text" name="name" class="form-control" required maxlength="20">
    </div>
    <div class="form-group mb-2">
        <label for="description">Description:</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>
    <div class="form-group mb-2">
        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" class="form-control" required>
    </div>
    <div class="form-group mb-2">
        <label for="stock">Stock (max 50):</label>
        <input type="number" name="stock" class="form-control" required min="0" max="50">
    </div>
    <div class="form-group mb-2">
        <label for="category">Category:</label>
        <input type="text" name="category" class="form-control" required>
    </div>
    <div class="form-group mb-2">
        <label for="image_file">Image File:</label>
        <input type="file" name="image_file" class="form-control" required accept=".png,.jpg,.jpeg">
    </div>
    <button type="submit" class="btn btn-primary fw-bold"><i class="fa-solid fa-plus me-2"></i>Submit</button>
</form>
{% endblock %}