<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Marketplace{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home') }}">My Marketplace</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if admin or owner %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manage_products') }}">Manage Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('add_news') }}">Add News</a>
                        </li>
                        {% endif %}
                        {% if owner %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin_page') }}">Admin Management</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('products') }}">Products</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{{ url_for('add_item') }}" class="btn btn-primary">Add Item</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('news') }}" class="nav-link">News</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                        <!-- Add more navigation links as needed -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container py-4">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>

    <footer class="bg-light text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Add footer content -->
                </div>
            </div>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
